<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Web Design and Development">
    <meta name="keywords" content="web design, HTML, CSS, Create Website, JavaScript, website business">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">

    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

    <!-- My CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <title>webvivienda.com</title>


</head>

<body>
    <div class="container">
        <div class="row">
            <div>
                <h2>ERROR 401</h2>
                <p>El correo o password no es valido</p>
            </div>
            <div class="col-md-6">
                <a href="/login" class="btn btn-block btn-danger">Regresar</a>
            </div>
        </div>
    </div>
</body>


</html>