 {% extends "layout.html" %} {% block content %}
<main>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 my-4 mx-auto text-center">
        <h1 class="display-4 mt-4">Lista de Productos</h1>
        <p class="lead">Selecciona uno de nuestros productos y accede a un descuento</p>
    </div>

    <div>
        <a href="/filterprice">Filtar por precio</a>
    </div>

    <div class="container" id="lista-productos">
        <div class="card-deck mb-3 text-center">

            {% for property in properties %}
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-bold">{{property['title']}}</h4>
                </div>
                <div class="card-body">
                    <img src="{{url_for('static',filename='images/portfolio/web/P2.webp')}}" class="card-img-top">
                    <h1 class="card-title pricing-card-title precio">S/. <span class="">{{property['price']}}</span></h1>
                    {% if token %}

                    <a href="/property-detail?id={{property['_id']}}" class="btn btn-block btn-primary agregar-carrito" data-id="1">
                            ver Detalle
                        </a> {% else %}
                    <a href="/property-detail?id={{property['_id']}}" class="btn btn-block btn-primary disabled agregar-carrito" data-id="1">
                            ver Detalle
                        </a> {% endif %}
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</main>
{% endblock %}