<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Web Design and Development">
    <meta name="keywords" content="web design, HTML, CSS, Create Website, JavaScript, website business">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">

    <!-- My CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <!-- <link rel="stylesheet" href="../css/style.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <title>webvivienda.com</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light myBg">
        <a class="navbar-brand" href="#">webvivienda.com</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/admin">home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">about</a>
                </li>


    </nav>
    <br/>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">inmuebles</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="/add">añadir inmuebles</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="/filterpriceadmin">filtrar por precio</a></li>

        </ol>
    </nav>

    <div class="container-fluid">
        <div>
            <a href="/signoff" class="btn btn-block btn-danger">Cerrar sesión</a>
        </div>
        <table id="customers">
            <tr>
                <th>nro</th>
                <th>title</th>
                <th>type</th>
                <th>address</th>
                <th>rooms</th>
                <th>price</th>
                <th>area</th>
                <th>Acciones</th>
                <th>Acciones</th>
            </tr>
            {% for property in properties %}
            <tr>
                <td>{{property['_id']}}</td>
                <td>{{property['title']}}</td>
                <td>{{property['type']}}</td>
                <td>{{property['address']}}</td>
                <td>{{property['rooms']}}</td>
                <td>{{property['price']}}</td>
                <td>{{property['area']}}</td>
                <td>
                    <a href="/edit?id={{property['_id']}}">Editar</a>
                </td>
                <td>
                    <a href="/delete?id={{property['_id']}}">Eliminar</a>
                </td>
            </tr>
            <div class="container">
                {% block content %} {% endblock %}
            </div>
            {% endfor %}
        </table>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/custom.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</body>

</html>